@import './../../utils/display.scss';
@import './../../utils/button_mixin.scss';

.main {
    @include flex-column;
    h3 {
        text-align: center;
        font-weight: 500;
    }
}

.buttons {
    @include flex-row();
    justify-content: center;
    gap: 25px;
    button {
        @include btn();
        width: 24%;
        padding: 8px 0;
    }
}

.todo {
    @include flex-row;
    justify-content: space-between;
    margin: 8px auto;
    width: 79%;
}

