$borderRadius: 4px;
$buttonColor: darkcyan;
// Checkbox variables
$checkbox-size: 20px;
$checkbox-animation-ripple: 700ms;
$checkbox-animation-check: 0.3s;
$lightbg-text: rgba(12, 240, 4, 0.982);
$checked-colour: #18e71f;
