@import '../../utils/display.scss';
@import '../../utils/button_mixin.scss';
@import '../../utils/variables.scss';


.main {
    border: 2px solid gray;
    border-radius: 12px;
    padding: 20px;
    width: 70%;
    margin: 20px auto;
    text-align: center;
    @include flex-column;
    h3 { font-weight: 500 }
}

.Input {
    outline: none;
    border-radius: $borderRadius;
    padding: 4px 0;
    padding-left: 12px;
    color: gray;
}

.btn {
    @include btn;
}